.caja1{
    width: 300px;
    margin: auto;
    border: 5px solid blue;
}

.caja2{
    max-width: 300px;
    margin: auto;
    border: 5px solid green;
}

.contenedor{
    width: 95%;
    height: 400px;
    margin: auto;
    background-color: indigo;
}

.contenedor2{
    width: 95%;
    max-width: 800px;
    height: 400px;
    margin: auto;
    background-color: lightsalmon;
}