ul.horizontal1{
    margin:0;
    }
ul.horizontal1 li{
        display:block;
        float:left;
}
ul.horizontal1 li:hover{
    background-color: skyblue;
    color: whitesmoke;
}
ul.horizontal2 ol{
        margin: 0px;
}
ul.horizontal2 ol{
    display:block;
    float:right;
}

h1{
    text-align:center;
    padding-right: 360px;
}

h5{
    text-align-last: center;
    padding-left: 10px;
}

.caja3{
    background-color: black;
    width: 1024px;
    height: 70px;
    text-decoration-color: white;
    background-position-x: center;
}


